<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/icon/font/bootstrap-icons.css" />

	@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/EfCoreExample.styles.css" asp-append-version="true" />*@

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EfCoreExample</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>

					<div class="col-lg-4">
						<div class="input-group rounded">

							<input autocomplete="off" id="search" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
							<span class="input-group-text border-0" id="search-addon">
								@*<i class="fas fa-search"></i>*@
								<i class="bi bi-search"></i>
							</span>


						</div>
						<div id="searchResult" style="position:absolute; z-index:999; width:100%">
						</div>
					</div>

				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				@await Component.InvokeAsync("Categories")
				<br />
				@await Component.InvokeAsync("SpecialProduct")
			</div>
			<div class="col-lg-9">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - EfCoreExample - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>


	<script src="~/lib/jquery/dist/jquery.min.js"></script>

	@*@<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>*@



	@await RenderSectionAsync("Scripts", required: false)



	<script>

		$(document).ready(function() {

			//$("#search").keyup(function() {		
			//	var data = $(this).val();
			//	$.ajax({
			//		url: "/Product/Search",
			//		type: "Get",
			//		data: { searchText: data },
			//		success: function(cevap) { // gelen cevap function'a parametre ile gönderilir...parametre isminin ne olduğunun hiç bir önemi yoktur...
			//                     $("#searchResult").html(ceavp);
			//		}
			//	});
			//});

			$("#search").keyup(function() {

				var data = $(this).val();

				$.ajax({
					url: "/Product/SearchV2",
					type: "Get",
					data: { searchText: data },
					success: function(response) {

						var dat = response;
						console.log(dat.length);

						var resultHtml = "<ul class='list-group'>";
						for (var i = 0; i < dat.length; i++) {

							var obj = dat[i]; // tek bir obj olarak al...
					console.log(obj);
							//console.log(dat[i].productName +" "+ dat[i].unitPrice);
							resultHtml += "<li class='list-group-item'>";
							resultHtml += "<a href='/Product/Detay?ProductId" + obj.ProductId +"'>" + obj.ProductName + "</a>";	
							resultHtml += "</li>"
						}
						resultHtml += "</ul>";
						$("#searchResult").html(resultHtml);
						//console.log(response);
						//alert(response);
					}
				});

			});
		});

	</script>


</body>
</html>
