@model Products


<div id="product" style="min-height:300px;">
</div>

<div id="previewproduct" style="min-height:300px;">
	@await Component.InvokeAsync("LastPreviewProduct",new { ProductId = Model.ProductId })
</div>